/*
* @Author: Administrator
* @Date:   2018-03-24 08:31:58
* @Last Modified by:   Administrator
* @Last Modified time: 2018-04-11 16:14:23
*/
.hide{
	display: none;
}
.block{
	display: block;
}
body{
	background: #f4f4f4;
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
header{
	width: 100%;
	height: 4.7rem;
	background: url('../img/screen.png') no-repeat center bottom,-webkit-linear-gradient(top,#323b7a,#3e87c7);
	background-size: contain; 
	overflow: hidden;
}
.city{
	font-size: 0.2rem;
	line-height: 0.24rem;
	color: white;
	text-align: center;
	margin-top: 0.14rem;
	font-weight: bold;
	/* font-family: 楷体; */
}
.box{
	width: 0.72rem;
	height: 0.44rem;
	border-radius: 0.08rem;
	background: #f1ab62;
    overflow: hidden;
    margin-top: 0.29rem;
    margin-left: 0.08rem;
}
.box h1{
	font-size: 0.12rem;
	color: white;
	text-align: center;
	margin-top: 0.06rem;
	line-height: 0.16rem;
}
.box h2{
	font-size: 0.12rem;
	color: white;
	text-align: center;
	line-height: 0.16rem;
}
.tempature{
	font-size: 0.47rem;
	color: #fff;
	line-height: 0.63rem;
	margin-top: 0.05rem;
	width: 0.84rem;
	margin-left: 2.22rem;
}
.condition{
	font-size: 0.2rem;
	color: #fff;
	text-align: center;
    line-height: 0.38rem;
}
.shidu{
	width: 0.65rem;
	height: 0.2rem;
	/* background: red; */
	margin: 0 auto;
	
}
.shidu span{
	font-size: 0.14rem;
	color: #fff;
	line-height: 0.2rem;
	float:left;
}
.shidu div{
	font-size: 0.14rem;
	color: #fff;
	line-height: 0.2rem;
	margin-left: 0.04rem;
	float: right;
}
.wenzi{
	font-size: 0.16rem;
	line-height: 0.26rem;
	color: white;
	margin-top: 0.46rem;
	text-align: center;
	font-weight: normal;
}
.days{
	width: 100%;
	height: 1.02rem;
	background: white;
	overflow: hidden;
	border-bottom: 0.01rem solid #e4e4e4;
	margin-bottom: 0.1rem;

}
.days-box{
	width: 4.6rem;
	height: 0.52rem;
	
	margin-top: 0.26rem;
	margin-left: 0.2rem;
	display: flex;
}
.today{
	width: 2.3rem;
	height: 0.53rem;
	/* background: red; */
	border-right: 0.01rem solid #f0f0f0;
	padding-right: 0.2rem;
	box-sizing: border-box;
}
.top{
	width: 100%;
	height: 0.16rem;
	/* background: #58a; */
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.04rem;
}
.text{
	font-size: 0.14rem;
	float: left;
	color: #434343;
}
.temperature{
	/* width: 0.33rem; */
	height: 0.16rem;
	/* background: purple; */
	/* margin-right: 0.2rem; */
}
.temperature span{
	font-size: 0.12rem;
	color: #434343;
	float: left;
}
.bottom{
	width: 100%;
	height: 0.32rem;
	/* background: pink; */
	float: left;
    display: flex;
	justify-content: space-between;
}
.wenzi1{
	font-size: 0.14rem;
	color: #434343;
	line-height: 0.32rem;
}
.taiyang{
	width: 0.20rem;
	height: 0.20rem;
	margin-ri
	ght: 0.1rem;
	margin-top: 0.07rem;
	/* background: red; */
	background: url('../img/123_07.png') no-repeat center;
	background-size: cover;
}

.tomorrow{
	width: 2.3rem;
	height: 0.52rem;
	/* background: yellow; */
	padding-left: 0.19rem;
	box-sizing: border-box;
}
.duoyun{
	background: url('../img/1.png') no-repeat center;
	background-size: cover;
	width: 0.3rem;
	height: 0.3rem;
	margin-right: 0.08rem;
	/* margin-top: 0.02rem; */
}
.hours{
	width: 100%;
	height: 1.36rem;
	background: white;
	border-bottom: 0.01rem solid #e4e4e4;
	overflow-x: auto;
	padding-top: 0.31rem;
	box-sizing: border-box;
}
.hours::-webkit-scrollbar{
	height: 0;
}
.wrap{
	/* width: 100%; */
	height: 0.77rem;
	/* background: red; */
	display: flex;
}
.now{
	width: 0.77rem;
	height: 0.77rem;
	/* background: black; */
	flex-shrink: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
}
.now-time{
	width: 100%;
	font-size: 0.12rem;
	color:#999999;
	text-align: center;
}
.now-icon{
	width: 0.22rem;
	height: 0.22rem;
	background: url('../img/0.png') no-repeat center;
	background-size: cover;
	margin: 0 auto;
}
.now-temp{
	width: 100%;
	font-size: 0.12rem;
	color:#434343;
	text-align: center;
}
.recent{
	width: 100%;
	height: 3.91rem;
	background: #ffffff;
	margin-top: 0.1rem;
	border-top: 0.01rem solid #e4e4e4;
	border-bottom: 0.01rem solid #e4e4e4;
	padding-top: 0.25rem;
	box-sizing: border-box;
	overflow-x: auto;
}
.recent::-webkit-scrollbar{
	height: 0;
}
.wrap1{
	/* width: 10rem; */
	height: 3.37rem;
	/* background: pink; */
	display: flex;
}
.con{
	width: 0.82rem;
	height: 100%;
    /* background: yellow; */
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
	justify-content: space-between;
}
.con-date{
	width: 100%;
	/* height: 0.14rem; */
	/* background: purple; */
	font-size: 0.14rem;
	color: #b2b2b2;
	float: left;
    line-height: 0.14rem;
margin-left: 0.26rem;

}
.con-date span{
	font-size: 0.14rem;
	color: #b2b2b2;
	float: left;
    line-height: 0.14rem;
}
.con-date span:first-child{
	margin-left: 0.26rem;
}
.con-weaH{
	width: 100%;
	/* height: 0.14rem; */
	font-size: 0.14rem;
	color: #b2b2b2;
	text-align: center;
}
.con-picH{
	width:0.22rem ;
	height: 0.22rem;
	/* background: blue; */
	margin: 0 auto;
	background: url('../img/0.png') no-repeat  center;
	background-size:  cover;
}
.con-high{
	width: 100%;
	font-size: 0.14rem;
	color: #b2b2b2;
	text-align: center;
}
.con-low{
	width: 100%;
	font-size: 0.14rem;
	color: #b2b2b2;
	text-align: center;
}
.con-picL{
	width:0.22rem ;
	height: 0.22rem;
	
	margin: 0 auto;
	background: url('../img/0.png') no-repeat  center;
	background-size:  cover;
}
.con-weaL{
	width: 100%;
	font-size: 0.14rem;
	color: #b2b2b2;
	text-align: center;
}
.con-wind{
	width: 100%;
	font-size: 0.12rem;
	color: #b2b2b2;
	text-align: center;
}
.con-level{
	width: 100%;
	font-size: 0.12rem;
	color: #b2b2b2;
	text-align: center;
}
 .bottom1{
	width: 100%;
	height: 1.9rem;
	background:white ; 
	margin-top: 0.1rem;
	border: 0.01rem solid #e4e4e4;
	box-sizing: border-box;
}
.bottom1 li{
	width: 25%;
	height: 0.94rem;
	
	float: left;
	border-bottom: 0.01rem solid #e4e4e4;
	border-right: 0.01rem solid #e4e4e4;
	box-sizing: border-box;
}
.bottom1 li:nth-child(4n){
	border-right: none;
}
.bottom1 li:nth-child(4)>li{
	border-bottom: none;
} 

.weihao{
	width: 1.24rem;
	height: 0.93rem;
	
	border-right: 0.01rem solid #e6e6e6;
	border-bottom: 0.01rem solid #e6e6e6;
	display: flex;
	justify-content: space-between;
	flex-shrink:0;
	flex-wrap:wrap;
	 flex-direction: column;
	 
}
.weihao1{
	width: 0.2rem;
	height: 0.18rem;
	background: url('../img/QQ图片20180323091206.png') no-repeat center;
	background-size: cover;
	margin: 0 auto;
	margin-top: 0.1rem;
}
.weihao2{
	font-size: 0.14rem;
	color: #434343;
	text-align: center;
}

.weihao3{
	width: 1.24rem;
	text-align: center;
	font-size: 0.12rem ;
	color: #999999;
	margin-bottom: 0.1rem;
}
.yifu{
	width: 1.24rem;
	height: 0.93rem;
	border-right: 0.01rem solid #e6e6e6;
	border-bottom: 0.01rem solid #e6e6e6;

	/*  background: blue;  */
	
	display: flex;
	justify-content: space-between;
	flex-shrink:0;
	flex-wrap:wrap;
	 flex-direction: column;
}
.yifu1{
	background: url('../img/天气_06.png')no-repeat center;
	background-size: cover;
	width: 0.2rem;
	height: 0.18rem;
	margin: 0 auto;
	margin-top: 0.1rem;
}
.san{
	width: 1.24rem;
	height: 0.93rem;
	border-bottom: 0.01rem solid #e6e6e6;
	border-right: 0.01rem solid #e6e6e6;
	display: flex;
	justify-content: space-between;
	flex-shrink:0;
	flex-wrap:wrap;
	 flex-direction: column;
}
.san1{
	background: url('../img/天气_03.png')no-repeat center;
	background-size: cover;
	width: 0.2rem;
	height: 0.18rem;
	margin: 0 auto;
	margin-top: 0.1rem;
}
.yao{
	width: 1.24rem;
	height: 0.93rem;
	border-bottom: 0.01rem solid #e6e6e6;
	display: flex;
	justify-content: space-between;
	flex-shrink:0;
	flex-wrap:wrap;
	 flex-direction: column;
}
.yao1{
	background: url('../img/天气_04 (2).png')no-repeat center;
	background-size: cover;
	width: 0.2rem;
	height: 0.18rem;
	margin: 0 auto;
	margin-top: 0.1rem;
}
.che{
	width: 1.24rem;
	height: 0.93rem;
	border-right: 0.01rem solid #e6e6e6;
	display: flex;
	justify-content: space-between;
	flex-shrink:0;
	flex-wrap:wrap;
	 flex-direction: column;
}
.che1{
	background: url('../img/天气_03 (2).png')no-repeat center;
	background-size: cover;
	width: 0.2rem;
	height: 0.18rem;
	margin: 0 auto;
	margin-top: 0.1rem;
}
.yundong{
	width: 1.24rem;
	height: 0.93rem;
	border-right: 0.01rem solid #e6e6e6;
	display: flex;
	justify-content: space-between;
	flex-shrink:0;
	flex-wrap:wrap;
	 flex-direction: column;
}
.yundong1{
	background: url('../img/天气_03 (3).png')no-repeat center;
	background-size: cover;
	width: 0.2rem;
	height: 0.18rem;
	margin: 0 auto;
	margin-top: 0.1rem;
}
.yangguang{
	width: 1.24rem;
	height: 0.93rem;
	border-right: 0.01rem solid #e6e6e6;
	display: flex;
	justify-content: space-between;
	flex-shrink:0;
	flex-wrap:wrap;
	 flex-direction: column;
}
.yangguang1{
	background: url('../img/天气_03 (4).png')no-repeat center;
	background-size: cover;
	width: 0.2rem;
	height: 0.18rem;
	margin: 0 auto;
	margin-top: 0.1rem;
}
.yu{
	width: 1.24rem;
	height: 0.93rem;
	display: flex;
	justify-content: space-between;
	flex-shrink:0;
	flex-wrap:wrap;
	 flex-direction: column;
}
.yu1{
	background: url('../img/天气_03 (5).png')no-repeat center;
	background-size: cover;
	width: 0.2rem;
	height: 0.18rem;
	margin: 0 auto;
	margin-top: 0.1rem;
}  
 

.loaction{
	width: 100%;
	/* height: 5rem; */
	background: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    /* display: none; */
    overflow: auto;
}

.search{
	width: 100%;
	height: 0.45rem;
	border-bottom: 0.01rem solid #eee;
	padding-top: 0.07rem;
	padding-left: 0.13rem;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background: white;
}
.search-box{
	width: 4.69rem;
	height: 0.3rem;
	display:flex;
	justify-content: space-between;
	
}
.search-box-left{
	width: 4.27rem;
	height: 0.3rem;
	background: #f2f2f2;
	border-radius: 0.15rem;
	display: flex;
	justify-content: space-between;
}
img{
	width: 0.22rem;
	height: 0.3rem;
	margin-left: 0.1rem;
}
input{
	float: right;
	width: 3.95rem;
	height: 0.3rem;
	border: none;
	background: #f2f2f2;
	border-top-right-radius: 0.15rem;
	border-bottom-right-radius: 0.15rem;
}
input:focus{
	outline: none;
}
.search-box-right{
	font-size: 0.14rem;
	color: #434343;
	line-height:0.3rem; 
}
.city-box{
	width: 100%;
	/* height: 14rem; */
	/* background: #ffffff; */
	padding: 0.08rem 0.13rem 0;
	box-sizing: border-box;
	margin-top: 0.45rem;
}
.title1{
	font-size: 0.14rem;
	color: #434343;
	line-height: 0.46rem;
	font-weight: normal;
	/* margin-top: 0.65rem; */
}
/* .title1:first-child{
	margin-top: 0;
} */
.con1{
	width: 100%;
	height: auto;
	overflow: hidden;
	
}
.son{
	width: 1.45rem;
	height: 0.32rem;
	 background:#e6e6e6 ;
	 font-size: 0.14rem; 
	color: #434343;
	text-align: center;
	line-height: 0.32rem;
	border-radius: 0.16rem;
	float: left;
	margin-right: 0.09rem;
	margin-bottom: 0.12rem;
} 

.son:nth-child(3n){
	margin-right: 0;

}  